---
layout: stylesheet
---
a {
    color: #0000BB;
}

a:visited {
    color: #333388;
} 

table, th, td {
   border: 1px solid black;
   padding: 2px;
} 

table.noBorder, table.noBorder * {
  border-style: none;
  border-width: 0px;
}

td.failure {
  background-color: #FF5555;
}

td.success {
  background-color: #AACCAA;
}

td.unclear {
  background-color: #FFFF66;
}

code {
  background-color: #EEEEFF;
  color: #000099;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.framed {
  border-color: #BBBBBB;
  border-style: solid;
  background-color: #EEEEFF;
  padding: 5px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

img.framed {
  border-radius: 5px 5px 0px 0px;
  border-width: 1px 1px 0px 1px;
}

figcaption.framed {
  border-radius: 0px 0px 5px 5px;
  border-width: 0px 1px 1px 1px;
}

figcaption > span {
  font-weight: bold;
}

/*
figure {
  border-radius: 5px;
  border-style: solid;
  border-color: #888888;
  border-width: 1px;
  padding: 8px;
  margin: 2px;
}
*/

.backstage {
  padding: 16px;
  background-image: url("{{ site.baseurl }}/images/yellowStripes.png") ;
  background-image-repeat: both;
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
}

.backstage > div {
  padding: 16px;
  background-color: #EEEE00;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
}


.customCssLoaded {
  background-color: #005500;
  color: #55FF00;
  border-style: solid;
  border-color: #55FF00;
  padding: 3px;
  font-size: 24;
  margin-bottom: 10px;
  margin-top: 10px;
}