<!DOCTYPE html>
<!-- contains the <head>, ends with opening <body>-tag -->
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ site.name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ site.description }}">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/pygments/syntax.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/custom.css">
  
  {% if page.localStylesheets %}
    {% for s in page.localStylesheets %} 
      <link rel="stylesheet" href="{{ site.baseurl }}{{s}}">
    {% endfor %}
  {% else %}
    <!-- no local stylesheets for this page -->
  {% endif %}

  {% if page.localScripts %}
    {% for s in page.localScripts %} 
      <script src="{{ site.baseurl }}{{s}}"></script>
    {% endfor %}
  {% else %}  
    <!-- no local scripts for this page -->
  {% endif %}

  {% if page.externalStylesheets %}
    {% for s in page.externalStylesheets %} 
      <link rel="stylesheet" href="{{s}}">
    {% endfor %}
  {% else %}
    <!-- no external stylesheets for this page -->
  {% endif %}

  {% if page.externalScripts %}
    {% for s in page.externalScripts %} 
      <script src="{{s}}"></script>
    {% endfor %}
  {% else %}  
    <!-- no external scripts for this page -->
  {% endif %}

</head>

{% if page.onload %}
<body onload="{{ page.onload }}">
{% else %}
<body>
{% endif %}
